In [1]:
from py.race_function import scrape_current_race, scrape_current_race_no_odds
from catboost import CatBoostRanker
import pandas as pd

In [2]:
def prediction(race_url, odds_url):
    model = CatBoostRanker()
    model.load_model('model/catboost_ranking_model.cbm')

    df = scrape_current_race(race_url, odds_url)
    X = df.iloc[:, :-1]
    predictions = model.predict(X)

    rated_scores = pd.DataFrame(predictions, columns = ['score'])

    name = df.iloc[:, -1]

    # Combine horse names and predicted scores into one DataFrame
    predicted = pd.concat([name.reset_index(drop=True), rated_scores.reset_index(drop=True)], axis=1)

    # Optionally rename columns if name column has no name
    predicted.columns = ['Horse_name', 'Predicted_Score']

    predicted = predicted.sort_values('Predicted_Score', ascending=False)

    return predicted

In [3]:
def prediction_no_odds(race_url):
    model = CatBoostRanker()
    model.load_model('model/catboost_ranker.cbm')

    df = scrape_current_race_no_odds(race_url)
    X = df.iloc[:, :-1]
    predictions = model.predict(X)

    rated_scores = pd.DataFrame(predictions, columns = ['score'])

    name = df.iloc[:, -1]

    # Combine horse names and predicted scores into one DataFrame
    predicted = pd.concat([name.reset_index(drop=True), rated_scores.reset_index(drop=True)], axis=1)

    # Optionally rename columns if name column has no name
    predicted.columns = ['Horse_name', 'Predicted_Score']

    predicted = predicted.sort_values('Predicted_Score', ascending=False)

    return predicted

In [7]:
race_url = 'https://racing.hkjc.com/racing/information/English/racing/RaceCard.aspx?RaceDate=2025/09/10&Racecourse=HV&RaceNo=2'
odds_url = 'https://bet.hkjc.com/en/racing/wp/2025-09-10/HV/2'

df = prediction(race_url, odds_url)
df1 = prediction_no_odds(race_url)

In [8]:
df

         Horse_name  Predicted_Score
3    FOREMOST TEDDY         1.470342
0   WAH MAY WAI WAI         0.925282
5      HARRY'S HERO         0.697407
8            YEABOI         0.509092
6         COOL BLUE         0.476506
4          GO GO GO         0.375640
1     SUPER SICARIO         0.085822
2       EN PERFECTO        -0.532139
7  PERFECTO MOMENTS        -0.735679

In [9]:
df1

         Horse_name  Predicted_Score
5      HARRY'S HERO         1.194193
3    FOREMOST TEDDY         0.975073
0   WAH MAY WAI WAI         0.861139
8            YEABOI         0.590954
6         COOL BLUE         0.453633
4          GO GO GO         0.025729
1     SUPER SICARIO        -0.407211
7  PERFECTO MOMENTS        -0.608983
2       EN PERFECTO        -0.853936